.hero {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.hero-container {
    background-color:  rgb(98, 46, 141);
    display: flex;
    position: relative;
}
p{
    color: rgb(206, 206, 206);
}
.hero-image {
    width: 150px;
    transform: scale(0.9);
    border-radius: 50%;
    box-shadow: 1px 1px 5px 3px rgb(20, 20, 22);
}
.hero-description {
    padding: 20px;
    font-size: larger;
}

