.App {
  text-align: center;
  background-color: rgb(98, 46, 141);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin-scale infinite 10s linear;
}
h4 {
  color: rgb(122, 131, 255);
  font-size: 20px;
}

@keyframes App-logo-spin-scale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(90deg) scale(1.5);
  }
  50% {
    transform: rotate(180deg) scale(2);
  }
  75% {
    transform: rotate(270deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #81f0ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  margin: 20px;
  color: rgb(204, 204, 204);
}
.divider {
  border: none;
  height: 5px;
  background-color: rgb(20, 20, 22);
}

.resume-link {
  color:rgb(122, 131, 255);
  text-decoration: underline;
}
.resume-link:hover {
  color: rgb(204, 204, 204);
}
.resume-link:visited {
  color:rgb(3, 6, 36);
}
.resume-link:active {
  color: green;
}

.blank {
  display: none;
}